/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css?family=Raleway:100');

html,body{
  margin: 0;
  padding: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~First Section ~~~~~~~~~~~~~~~~~~~~~~~~ */

.first-section{
  font-family: "Raleway";
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-flow: wrap column; */
  background: url(./images/14196640392_0533420a3c_o.jpg);
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  height: 100vh;
}

.first-section-wrapper{
  font-size: 50px;
  /* margin-bottom: 60%; */
  text-align: center;
}

.name-text{
  margin: 0;
}

.headline-text{
  margin-block-start: 2%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~Second Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.second-section{
  width: 100%;
  background-color: cadetblue;
}

.second-section-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.about-me-content{
  display: flex;
  max-width: 50%;
  flex-direction: column; 
}

.about-me-description{
  margin: 0;
}

.about-me-header{
  text-align: center;
}

.about-me-image{

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~Third Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.third-section{
  background-color: aquamarine;
  width: 100%;
}

.third-section-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stack-icons{
  max-width: 50%;
}

.stack-description{

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ Section 4 ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fourth-section{

}

.fourth-section-wrapper{

}

.project-total-header{
  
}